<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Form Books</title>
    <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
    <link rel="stylesheet" type="text/css" href="../public/css/form.css">
</head>
<body>
<div id='headerGeneral'>
  <header> {{>  header}} </header>
  <menu> {{> menuCon}} </menu>
</div>
<h2>Add a books</h2>
<div id='button-add-books'>
  <form method="POST">
      <label for='isbninput'> ISBN</label>
    <input type="text" id='isbninput'>
  </form>
</div>
<footer> {{> footer}} </footer>
 
</body>
</html>