<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>App</title>
  <link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>
<body>
<div id='headerGeneral'>
  <header> {{>  header}} </header>
  <menu> {{> menuNotCon}} </menu>
</div>
<p>Test</p>
<footer> {{> footer}} </footer>
</body>
</html>
