<template>
   <div>
        <div class="col-md-12 form-wrapper">
          <h2> Add Books </h2>
          <form id="create-post-form" @submit.prevent="addBook">
               <div class="form-group col-md-12">
                <label for="title"> ISBN </label>
                <input type="text" id="isbn" v-model="isbn" name="title" class="form-control" placeholder="Enter ISBN">
               </div>
               <div class="form-group col-md-12">
                <label for="title"> Title Troc </label>
                <input type="text" id="title_troc" v-model="title_troc" name="title" class="form-control" placeholder="Title">
               </div>
             <div class="form-group col-md-12">
                <label for="title"> Author</label>
                <input type="text" id="author" v-model="author" name="title" class="form-control" placeholder="Author">
            </div>
            <div class="form-group col-md-12">
                <label for="title"> Publisher</label>
                <input type="text" id="publisher" v-model="publisher" name="title" class="form-control" placeholder="Publisher">
            </div>
            <div class="form-group col-md-12">
                  <label for="description"> Description </label>
                  <input type="text" id="description" v-model="description" name="description" class="form-control" placeholder="Description">
              </div>
              <div class="form-group col-md-4 pull-right">
                  <button class="btn btn-success" type="submit"> Add Book </button>
              </div>           
            </form>
        </div>
    </div>
</template>
<script>
import axios from "axios";
import { server } from "../../utils/helper";
import router from "../../utils/router";
export default {
  name: 'Manual',
  data() {
    return {
      isbn: "",
      title_troc: "",
      author: "",
      publisher: "",
      description: ""
    };
  },
  methods: {
    addBook() {
      let BooksData = {
        isbn: this.isbn,
        title_troc: this.title_troc,
        author: this.author,
        publisher: this.publisher,
        description: this.description
      };
      this.__submitToServer(BooksData);
    },
    __submitToServer(data) {
      axios.post(`${server.baseURL}/books/create`, data).then(data => {
        router.push({ name: "home" });
        return data
      });
    }
  }
};
</script>