<template>
    <div>
      <div class="text-center">
        <h1>Nest Troc O</h1>
       <p> This is the description of the troc app build with Nest.js, Vue.js and MongoDB</p>
            <h2> No Books found at the moment </h2>
        </div>
      </div>
</template>
