li {
    list-style-type:none;
    width: 15%   ;
    color: white ;  
    display: inline-block;
    font-size: 80%;
    margin-top: 2%;
    border: transparent;
    border-radius: 90%
}

li a {
    display: block;
    color:#0088CC;
    text-align: center;
    padding: 14px 16px;
    border-radius: 5%;
    text-decoration: none;
}

li a:hover {
    background-color: #0088CC;
    color: white
}
#headerGeneral {
    background-color: lightgrey;
    height: 10%;
}

#logo {
    float: left;
    width: 8%;
  
}
#icon-footer {
    float: none;
}

#menu-bar {
    text-align: center;
    margin-top: -10px
}

footer {

}


