<ul id='menu-bar'>
  <li><a class="active" href="#home">Let's troc</a></li>
  <li><a href="#community">Community</a></li>
  <li><a href="#shop">O'shop</a></li>
  <li class="right"><a href="#myaccount">My account</a></li>
</ul>